.daily-forecast h4 {
  margin: 1em 0;
}

.wave-div,
.wind-div {
  line-height: 1.5em;
  margin: .5em 0;
}

.wave-data,
.wind-data {
  margin-left: .5em;
  vertical-align: top;
}

.surf-rating {
  margin: .5em 0;
}
