.hourly-forecast {
  display: flex;
}

.wave-data,
.wave-icon,
.wind-data,
.wind-icon,
.surf-rating,
.hourly-forecast h4 {
  flex: 1;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.beach-reports {
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
}

.report-header{
  color: aqua;
}