$font: 'Nunito Sans', sans-serif;

nav {
  height: 200px;
}

.title {
font-family: $font;
color: whitesmoke;
text-decoration: none;
font-size: 2.5em;
vertical-align: baseline;
letter-spacing: 0.063em;

}

.login, .register, .logout, .profile {
  float:right;
  text-decoration: none;
  font-family: $font;
  text-align: center;
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  letter-spacing: 0.069em;
  width: 85px;
  font-size: small;

  &:hover {
    background-color: white;
    color: #f6dbbc;
  }
}

  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 20px 10px 45px 10px;
    background: #f6dbbc;
}

#icon {
  height: 2em;
  width:2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .5;
}

#icon-down {
  height: 4em;
  width:4em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.container {
padding: 20px;
padding-bottom: 60px;
}

.notification-hidden {
  position: absolute;
  right: 25%;
  color: #666;
  font-family: $font;
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  background-color: white;
  padding: 10px;
  display:none;
  margin-left: 20%;

}

.circle:hover .notification-hidden {
  display: block;
}

#down:hover .down-hidden {
  display: block;
}

.down-hidden {
  width: 190px;
  color: #666;
  font-family: $font;
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
  background-color: white;
  padding: 10px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  
}

#submit {
  float: none;

  &:hover {
    background-color: white;
    color: green;
  }

}

#avatar {
  background-color: rgba(41, 129, 70, 0.6);
  margin: auto;
  display: inline-grid;
  margin-top: 10px;   
}

#notifications {
  position: absolute;
  bottom: 20px;
  left: 38%;
}

.profile-avatar {
  float: left;
  height: 18px;
  width: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .5
}