#password, #email, #first_name, #last_name, #phone {
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: white;
  padding: 9px;
  letter-spacing: 0.069em;
}

::placeholder {
  color: white;
}

.login-form {
  width: max-content;
  height: auto;
  margin: auto;
  padding: 10px;
  padding-top: 40%;
  position: relative;
}

#login-input {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  letter-spacing: 0.069em;
  width: 90px;

  &:hover {
    background: white;
    color: #133452
  }
}

#register {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  letter-spacing: 0.069em;
  text-decoration: none;  
  font-size: 12px;

  &:hover {
    background: white;
    color: #133452
  }
}

.profile-container {
  font-family: $font;
  position: fixed;
  top: 10%;
  right: 50%;
  border-width: 1px;
  background: rgba(255, 254, 254, 0.5);
  width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  height: 600px;
}

.login-container {
  font-family: $font;
  position: fixed;
  top: 10%;
  right: 50%;
  border-width: 1px;
  background: rgba(255, 254, 254, 0.5);
  width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  height: 530px;
}

.register-container {
  font-family: $font;
  position: fixed;
  top: 10%;
  right: 50%;
  border-width: 1px;
  background: rgba(255, 254, 254, 0.5);
  width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

.info {
  font-family: $font;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 500px;
  text-align: center;
  color: white;
  padding-top: 60px;
}

#login-link {
  position: absolute;
  right: 170px;
}

#link {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  letter-spacing: 0.069em;
  width: 85px;
  text-decoration: none;
  font-size: 12px;

  &:hover {
    background: white;
    color: #133452
  }
}

.beach {
  display: -webkit-inline-box;
  text-decoration: none;
  font-family: $font;
  text-align: center;
  background-color: white;
  border-width: 1.5px;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  letter-spacing: 0.069em;
  width: max-content;
  font-size: small;

  &:hover {
    background-color: transparent;
    color: white;
  }
}

#beach-button {
  background: transparent;
  border:none;
  letter-spacing: 0.069em;
  width: max-content;
  font-size: small;
  color: green;


  &:hover {
    background-color: transparent;
    color: white;
  }
}

.switch {
  display: -webkit-box;
  position: relative;
  margin-left: 5px;
  width: 25px;
  height: 18px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {

  transform: translateX(7px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.beach-reports {
  font-family: $font;
}